- page_title = "#{content_for?(:title) ? "#{yield(:title)} - " : ''}Potmum"

meta charset='utf-8'
title = page_title
meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
meta name='referrer' content='none'

= stylesheet_link_tag 'application', media: 'all'
= csrf_meta_tags

/ icon & color
link rel='apple-touch-icon' sizes='57x57' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-57x57.png"
link rel='apple-touch-icon' sizes='60x60' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-60x60.png"
link rel='apple-touch-icon' sizes='72x72' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-72x72.png"
link rel='apple-touch-icon' sizes='76x76' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-76x76.png"
link rel='apple-touch-icon' sizes='114x114' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-114x114.png"
link rel='apple-touch-icon' sizes='120x120' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-120x120.png"
link rel='apple-touch-icon' sizes='144x144' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-144x144.png"
link rel='apple-touch-icon' sizes='152x152' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-152x152.png"
link rel='apple-touch-icon' sizes='180x180' href="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-180x180.png"
link rel='icon' type='image/png' href="/themes/#{GlobalSetting.theme_name}/favicon-32x32.png" sizes='32x32'
link rel='icon' type='image/png' href="/themes/#{GlobalSetting.theme_name}/android-chrome-192x192.png" sizes='192x192'
link rel='icon' type='image/png' href="/themes/#{GlobalSetting.theme_name}/favicon-96x96.png" sizes='96x96'
link rel='icon' type='image/png' href="/themes/#{GlobalSetting.theme_name}/favicon-16x16.png" sizes='16x16'
meta name='msapplication-TileColor' content='#da532c'
meta name='msapplication-TileImage' content="/themes/#{GlobalSetting.theme_name}/mstile-144x144.png"
meta name='theme-color' content=GlobalSetting.theme_colors[3]

/ OGP
meta property='og:title' content=page_title
meta property='og:type' content='article'
meta property='og:description' content=''
meta property='og:url' content=request.url
meta property='og:image' content="/themes/#{GlobalSetting.theme_name}/apple-touch-icon-180x180.png"
meta property='og:site_name' content='Potmum'
