/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require uikit.ruikit
 *= require_self
 */
@import 'compass';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'modules/_variables';
@import 'modules/_ruikit_override';
@import 'modules/_pygments';
@import 'modules/_codemirror';

html, body {
  height: 100%;
}

::-moz-selection {
  background: lighten($base-color-light, 15%);
  color: inherit;
  text-shadow: none;
}

::selection {
  background: lighten($base-color-light, 15%);
  color: inherit;
  text-shadow: none;
}

q, blockquote {
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
}

.global-header {
  background: $base-color-dark; // 700
  position: relative;
  z-index: 64;

  .uk-form {
    input {
      padding-left: 15px;
      padding-right: 15px;
      border: 0;
      border-radius: 15px;
      background: $base-color-mid-dark;
      color: #fff;

      @include input-placeholder {
        color: $base-color-light;
      }
    }
  }

  .avatar-image {
    display: inline-block;
  }

  .uk-navbar-brand {
    padding: 0 15px 0 0;

    &:hover {
      img {
        opacity: .5;
      }
    }
  }

  .uk-navbar-content {
    @media screen and (max-width: 767px) {
      padding: 0 15px 0 0;
    }
  }

  .uk-navbar-nav {
    .uk-open a,
    a:focus,
    a:hover {
      background: $base-color-mid-dark; // 500
    }
  }

  .uk-dropdown-navbar {
    background: $base-color-mid-dark; // 500
    a {
      color: #fff;
      &:focus,
      &:hover {
        background: $base-color-light; // 300
      }
    }
  }
}

.avatar-image {
  display: block;
  border-radius: 100%;
}

.global-alert {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: rgba(255, 32, 32, .66);
  color: #fff;
  text-align: center;
}

.global-notify {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  z-index: 128;
}

.content-header {
  background: $base-color-mid-light; // 400
  color: #fff;
  margin-bottom: 20px;
  padding: 20px 0;

  h1 {
    margin: 0;
    font-size: 32px;
    line-height: 1.4;
    color: #fff;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
  }

  .content-header-alert {
    margin: 20px 0 -20px;
    padding: 8px;
    background: #444;
    color: #999;
    font-size: 13px;
    text-align: center;
  }
}

.wrap {
  word-wrap: break-word;
}

.markdown {
  font-size: 16px;
  line-height: 1.8;
  word-wrap: break-word;

  & > {
    p, hr, ul, ol, dl, blockquote, pre, address, fieldset, figure, table {
      margin-top: 0;
      margin-bottom: 1.8em;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;

    a .fa-link {
      display: none;
      position: absolute;
      left: -1.1em;
      padding-right: 0.4em;
      line-height: inherit;
    }

    &:hover {
      a .fa-link {
        display: block;
      }
    }
  }

  h1, h2, h3 {
    &:after {
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      margin-top: 4px;
      background: rgba(0, 0, 0, .2);
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      font-size: #{28 - ($i - 1) * 2}px;
    }
  }

  h6 {
    color: #999;
  }

  p {
    text-align: justify;
    text-justify: inter-ideograph;
  }

  table {
    thead {
      tr {
        background: #fff;
      }
    }
    tr {
      background: #eee;
      &:nth-child(2n) {
        background: #fff;
      }
    }
    th, td {
      border: 1px solid #ccc;
      padding: 8px;
    }
  }

  ul li {
    list-style-type: disc;
  }
  ol li {
    list-style-type: decimal;
  }
  ul, ol {
    ul li {
      list-style-type: circle;
    }
    ol li {
      list-style-type: lower-roman;
    }
    ul, ol, {
      ul li {
        list-style-type: square;
      }
      ol li {
        list-style-type: lower-alpha;
      }
    }
  }
  li.task-list-item {
    list-style: none;

    .task-list-item-checkbox {
      margin-left: -20px;
      margin-right: 8px;
    }
  }

  em {
    color: #444;
    font-style: italic;
    font-weight: normal;
    border-bottom: 1px dotted #999;
    padding: 0 .25em;
  }

  strong {
    color: #444;
    font-style: normal;
    font-weight: bold;
  }

  blockquote {
    color: #888;
    em {
      color: #888;
    }
    strong {
      color: #888;
    }
  }

  .footnotes {
    font-size: 14px;

    p {
      margin: 0;
    }
  }

  .MathJax {
    &:focus {
      outline: 0;
    }
  }

  .code-frame {
    .MathJax {
      display: block;
      text-align: center;
      margin: 1em auto;
    }
  }
}

.article-viewer {
  .article-header {
    .article-title {
    }

    .article-author {
      img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }
      a {
        color: #fff;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .article-tags {
      list-style: none;
      padding: 0;

      li {
        position: relative;
        display: inline-block;
        flaot: left;
        height: 20px;
        line-height: 20px;
        margin: 2px 5px 2px 0;
        padding-left: 10px;

        &:before {
          position: absolute;
          left: -8px;
          top: 0;
          display: block;
          content: '';
          width: 0;
          height: 0;
          overflow: hidden;
          border: 10px solid transparent;
          border-right-width: 8px;
          border-right-color: #fff;
        }

        a {
          display: inline-block;
          background: #fff;
          padding: 0 6px;

          &.tag-count {
            background: #eee;
          }
        }
      }
    }

    .article-score {
      font-size: 24px;
      overflow: hidden;
      list-style: none;
      padding: 0;

      li {
        float: left;
        width: 33%;
        list-style: none;
        margin: 0;
        padding: 0 5px;
        border-left: 1px solid rgba(255, 255, 255, .5);
        text-align: center;
        @include box-sizing(border-box);
        &:first-child {
          border-left: 0;
        }
      }

      .article-score-name {
        font-size: 12px;
      }
    }
  }

  .article-body {
    background: #fff;
    padding: 15px;
  }

  .article-sidebar {
    .article-author {
      img {
        float: left;
        display: block;
        width: 48px;
        height: 48px;
      }
      .article-author-name,
      .article-author-text {
        margin-left: 56px;
      }
      .article-author-name {
        font-size: 18px;
        line-height: 26px;
      }
      .article-author-text {
        font-size: 12px;
        line-height: 16px;
        color: #999;
      }
    }
  }
}

.article-editor {
  position: relative;
  top: -40px;
  width: 100%;
  height: 100%;
  padding: 4px;
  padding-top: 44px;
  @include box-sizing(border-box);

  .editor-header {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    padding: 4px;
    @include box-sizing(border-box);

    .editor-title {
      padding: 4px;
      input {
        width: 100%;
        height: 48px;
        font-size: 24px;
        line-height: 48px;
      }
    }

    .editor-tags {
      padding: 4px;

      .tag-form {
        position: relative;
        border: 1px solid #ddd;
        background: #fff;
        color: #444;
        height: 26px;
        padding: 0 6px;

        .placeholder {
          position: absolute;
          left: 6px;
          top: 1px;
          line-height: 24px;
          color: #999;
        }

        .tag-item {
          display: inline-block;
          border: 1px solid #ccc;
          margin: 3px 5px 3px 0;
          height: 18px;
          line-height: 16px;
          padding: 0 5px;
          border-radius: 2px;
          background-color: #eee;

          .tag-item-content {
            display: inline-block;
          }
          .tag-item-action {
            display: inline-block;
          }
        }

        input {
          width: 100px;
          max-width: 100%;
          height: 24px;
          font-size: 14px;
          line-height: 24px;
          padding: 0;
          border: 0;
          background: transparent;
          &:focus {
            background: transparent;
          }
        }
      }
    }
  }

  .editor-main {
    height: 100%;
    padding: (92px + 4px) 4px (38px + 4px);
    @include box-sizing(border-box);
    overflow: hidden;

    .editor-pane {
      position: relative;
      float: left;
      width: 50%;
      height: 100%;
      border: 1px solid #ccc;
      @include box-sizing(border-box);

      .editor-pane-header {
        position: absolute;
        width: 100%;
        height: 38px;
        padding: 5px 10px;
        font-size: 14px;
        line-height: 28px;
        background: #f4f4f4;
        @include box-sizing(border-box);

        .editor-pane-title {
          color: #999;
        }

        .editor-pane-actions {
          position: absolute;
          right: 8px;
          top: 4px;

          .uk-button {
            position: relative;
            margin-left: 5px;
            width: 35px;
            height: 25px;
            overflow: hidden;

            input[type='file'] {
              position: absolute;
              left: 0;
              top: 0;
              display: block;
              width: 100px;
              height: 100px;
              font-size: 100px;
              cursor: pointer;
            }
          }
        }
      }

      .editor-pane-content {
        height: 100%;
        padding-top: 38px;
        @include box-sizing(border-box);

        textarea {
          display: block;
          width: 100%;
          height: 100%;
          border: 0;
          font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
          font-size: 16px;
          line-height: 1.3;
        }
      }
    }

    .editor-preview {
      border-left: 0;

      .editor-preview-field {
        background: #fff;
        border: 0;
        width: 100%;
        height: 100%;
        padding: 10px;
        @include box-sizing(border-box);
        overflow: auto;
      }
    }
  }

  .editor-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 38px;
    padding: 0 8px;
    @include box-sizing(border-box);

    .uk-button-group {
      margin-left: 5px;
    }

    button {
      width: 140px;
    }
  }
}

.user-profile {
  img {
    float: left;
    display: block;
    width: 80px;
    height: 80px;
  }
  .user-profile-name {
    margin-left: 95px;
  }
  .user-profile-contribute {
    margin-left: 95px;
    font-size: 14px;
    .user-profile-contribute-count {
      display: inline-block;
      margin-right: 5px;
      font-size: 20px;
    }
  }
}

.article-list {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li {
    margin: 0;
    padding: 15px 0;
    border-top: 1px solid #ccc;

    &:first-child {
      border-top: 0;
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    .article-avatar {
      display: block;
      float: left;

      img {
        display: block;
        width: 56px;
        height: 56px;
      }
    }

    .article-author,
    .article-title,
    .article-tags {
      margin-left: 66px;
    }
    .article-author {
      font-size: 14px;
      line-height: 20px;
      color: #999;
    }
    .article-title {
      font-size: 20px;
      line-height: 32px;
    }
    .article-tags {
      margin-top: 5px;
      padding: 0;
      list-style: none;
      overflow: hidden;
      li {
        position: relative;
        left: 8px;
        float: left;
        display: inline-block;
        font-size: 12px;
        line-height: 16px;
        height: 16px;
        padding: 0 5px;
        background: #eee;
        margin: 2px 15px 2px 0;

        &:before {
          position: absolute;
          left: -16px;
          top: 0;
          display: block;
          content: '';
          width: 0;
          height: 0;
          overflow: hidden;
          border: 8px solid transparent;
          border-right-width: 8px;
          border-right-color: #eee;
        }
      }
    }
  }
}

.article-index {
  ul {
    padding-left: 15px;
  }
}

.tag-cloud {
  text-align: center;

  .tag-cloud-word {
    display: inline-block;
    margin: 0 10px;

    &.tag-cloud-word-large {
      font-size: 200%;
    }
    &.tag-cloud-word-medium {
      font-size: 150%;
    }
    &.tag-cloud-word-small {
      font-size: 100%;
    }
  }
}

.comment-item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }

  .comment-header {
    position: relative;
    overflow: hidden;

    .comment-avatar {
      float: left;

      img {
        display: block;
        width: 36px;
        height: 36px;
      }
    }

    .comment-article,
    .comment-author,
    .comment-contribute {
      display: block;
      margin-left: 44px;
    }

    .comment-article {
      margin-right: 7em;

      @media screen and (max-width: 767px) {
        margin-right: 0;
      }
    }

    .comment-author {
      font-size: 15px;
    }

    .comment-contribute {
      font-size: 12px;
      color: #999;
    }

    .comment-date {
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      color: #999;
      font-size: 12px;

      @media screen and (max-width: 767px) {
        position: relative;
        margin-left: 44px;
        line-height: 16px;
      }
    }

    &.small {
      .comment-avatar {
        img {
          width: 24px;
          height: 24px;
        }
      }
      .comment-article,
      .comment-author,
      .comment-contribute {
        margin-left: 32px;
        line-height: 24px;
      }

      .comment-date {
        line-height: 24px;

        @media screen and (max-width: 767px) {
          line-height: inherit;
          margin-left: 32px;
        }
      }

      .comment-body {
        font-size: 14px;
      }
    }
  }

  .comment-body {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
}

.uk-button-group {
  .uk-dropdown {
    width: 100%;
  }

  .uk-dropdown-up {
    margin-bottom: 0;
  }
}
